/*====================
    EXTRA LARGE DEVICE
=====================*/
@media (min-width: 1200px) {}

/*====================
    LARGE DEVICE
=====================*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .navbar .navbar-nav .nav-item {
        padding: 29px 6px;
    }

    .lg_rht {
        margin-right: 8px;
    }

    .navbar .search_icon {
        padding: 0;
    }

    .navbar .search_icon input.active {
        width: 134px;
    }

    #about_part .about_text p {
        text-align: justify;
    }

    #resume_part .resume_pic img {
        width: 100%;
        padding-top: 40px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic {
        padding-top: 74px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic img {
        width: 100%;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text::before {
        right: 26px;
    }

    #blog_part .blog_widget .blog_text .btext_middle p {
        margin-bottom: 0px;
    }

    #blog_part .blog_widget .blog_text .btext_middle h3 {
        padding-top: 0;
        padding-bottom: 0;
    }

    #blog_part .blog_widget .blog_pic {
        padding-top: 13px;
    }

    #business_part .slick-dots li button {
        width: 184px;
    }

    .fwdt_blog_pic img {
        width: 100%;
    }
}

/*====================
     MEDIUM DEVICE
=====================*/
@media (min-width: 768px) and (max-width: 991.98px) {


    .navbar .search_icon {
        position: absolute;
        left: 58%;
        top: 22px;
    }

    .navbar-nav {
        background: #ffffffeb;
        border: 1px solid #333;
        border-radius: 5px;
        margin-top: 9px;
        box-shadow: 1px 5px 7px 1px darkgray;
    }

    .navbar .navbar-nav .nav-item {
        padding: 14px 28px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: #333;
        font-size: 14px;
        letter-spacing: 1px;
    }

    .portfo_widget .portfo_overlay .portfo_text a i {
        font-size: 20px;
    }

    .portfo_widget .portfo_overlay .portfo_text {
        top: 58%;
        width: 100%;
    }

    #about_part .abt_pic {
        text-align: center;
        padding-bottom: 50px;
    }

    #about_part .abt_pic img {
        width: 80%;
    }

    #about_part .about_text p {
        text-align: justify;
    }

    #resume_part .resume_pic {
        padding-left: 45px;
    }

    #resume_part .resume_pic img {
        width: 300px;
        padding-top: 137px;
    }

    #team_part .team_widget .team_overlay {
        height: 74px;
    }

    #team_part .team_widget .team_overlay .team_text h5 {
        padding-bottom: 10px;
    }

    #team_part .team_widget .team_overlay .team_text a i {
        height: 35px;
        width: 35px;
        font-size: 15px;
        line-height: 33px;
        margin: 0 1px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic {
        padding-top: 74px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text {
        padding: 20px 15px 20px 20px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic img {
        width: 100%;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text::before {
        right: 29px;
        top: 64px;
    }

    #blog_part .blog_widget .blog_text .btext_middle p {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: justify;
    }

    #blog_part .blog_widget .blog_text .btext_middle h3 {
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #business_part .slick-dots li button {
        width: 136px;
    }

    #newsletter_part .rspn_md {
        padding: 17px 0 !important;
    }

    .fwdt_blog_pic img {
        width: 100%;
    }

    #footer_part .footer_widget h4 {
        text-align: center;
    }

    #footer_part .footer_widget .contact {
        padding: 24px 0 20px 0;
    }

    #footer_part .footer_widget .ft_twit_widget a i {
        line-height: 58px;
    }

    #footer_part .subfooter p {
        font-size: 15px;
        line-height: 37px;
    }
}

/*====================
  SMALL DEVICE
=====================*/
@media (min-width: 576px) and (max-width: 767.98px) {


    .navbar .search_icon {
        position: absolute;
        left: 44%;
        top: 21px;
    }

    .navbar-nav {
        background: #ffffffeb;
        border: 1px solid #333;
        border-radius: 5px;
        margin-top: 9px;
        box-shadow: 1px 5px 7px 1px darkgray;
    }

    .navbar .navbar-nav .nav-item {
        padding: 14px 28px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: #333;
        font-size: 14px;
        letter-spacing: 1px;
    }


    .title_text p {
        padding: 0 47px;
    }

    #banner_part .banner_overlay .banner_text h3 {
        color: #353535;
    }

    #banner_part .banner_overlay .banner_text h1 {
        font-size: 50px;
    }

    #services_part .services_widget h4 {
        font-size: 14px;
    }

    #services_part .services_widget p {
        text-align: justify;
    }

    #portfolio_part .ptfo_button button {
        margin: 0 15px;
    }

    .portfo_widget .portfo_overlay .portfo_text a i {
        font-size: 20px;
    }

    .portfo_widget .portfo_overlay .portfo_text {
        top: 58%;
        width: 100%;
    }

    #about_part .abt_pic {
        text-align: center;
        padding-bottom: 50px;
    }

    #about_part .abt_pic img {
        width: 80%;
    }

    #about_part .about_text p {
        text-align: justify;
    }
 
    #resume_part .resume_pic img {
        width: 244px;
        padding-top: 40px;
        display: block;
        margin: 0 auto;
    }

    #team_part .team_widget .team_overlay .team_text a i {
        height: 28px;
        width: 28px;
        font-size: 13px;
        line-height: 27px;
        margin: 0;
    }

    #team_part .team_widget .team_overlay {
        height: 74px;
    }

    #team_part .team_widget .team_overlay .team_text h5 {
        padding-bottom: 10px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic {
        padding: 10px 0 30px 0;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic img {
        width: 50%;
        margin: 0 auto;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text {
        padding: 20px 15px 20px 20px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text::before {
        right: 21px;
        top: -37px;
        transform: rotate(90deg);
    }

    #blog_part .blog_widget .blog_text .btext_middle p {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: justify;
    }

    #blog_part .blog_widget .blog_text .btext_middle h3 {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #business_part .slick-dots {
        width: 502px;
    }

    #business_part .slick-dots li button {
        width: 100px;
    }

    #newsletter_part .rspn_md {
        padding: 17px 0 !important;
    }

    #newsletter_part .newsletter_overlay form input {
        width: 370px;
    }

    #newsletter_part .newsletter_overlay form button {
        right: 70px;
    }

    .fwdt_blog_pic img {
        width: 100%;
    }

    #footer_part .footer_widget h4 {
        text-align: center;
        padding: 40px 0 40px 0;
    }

    #footer_part .footer_widget .contact {
        padding: 24px 0 20px 0;
    }

    #footer_part .footer_widget .ft_twit_widget a i {
        line-height: 58px;
    }

    .fwdt_blog_pic {
        padding-bottom: 10px !important;
    }

    .fwdt_blog_text {
        text-align: center;
    }

    #footer_part .subfooter p {
        font-size: 15px;
        line-height: 37px;
    }

    #footer_part .subfooter .footer_icon a i {
        height: 30px;
        width: 30px;
        font-size: 13px;
        line-height: 31px;
        margin: 0;
    }
}

/*====================
   EXTRA SMALL DEVICE
=====================*/
@media (max-width: 575.98px) {


    .navbar .search_icon {
        position: absolute;
        left: 18%;
        top: 21px;
    }

    .navbar .search_icon.active {
        padding: 0 31px 0 70px;
    }

    .navbar .search_icon input {
        width: 95px;
        border-radius: 4px 0 0 4px;
    }

    .navbar .search_icon input.active {
        width: 108px;
    }

    .navbar .search_icon button {
        border-radius: 0 4px 4px 0;
    }

    .navbar-nav {
        background: #ffffffeb;
        border: 1px solid #333;
        border-radius: 5px;
        margin-top: 9px;
        box-shadow: 1px 5px 7px 1px darkgray;
    }

    .navbar-brand img {
        width: 90%;
    }

    .navbar .navbar-nav .nav-item {
        padding: 14px 28px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: #333;
        font-size: 14px;
        letter-spacing: 1px;
    }


    #banner_part .banner_overlay .banner_text h3 {
        color: #353535;
        font-size: 22px;
    }

    #banner_part .banner_overlay .banner_text h1 {
        font-size: 40px;
    }

    .bnr_btn2 {
        padding: 16px 37px;
        margin-top: 15px;
    }

    #services_part .services_widget h4 {
        font-size: 14px;
    }

    #services_part .services_widget {
        padding-bottom: 50px;
    }

    #portfolio_part .ptfo_button .pr_btn {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    #portfolio_part .ptfo_button button {
        margin: 0 15px;
    }

    .portfo_widget .portfo_overlay .portfo_text a i {
        font-size: 20px;
    }

    .portfo_widget .portfo_overlay .portfo_text {
        top: 58%;
        width: 100%;
    }

    #about_part .abt_pic {
        text-align: center;
        padding-bottom: 50px;
    }

    #about_part .abt_pic img {
        width: 100%;
    }

    #about_part .about_text p {
        text-align: justify;
        padding: 0;
    }


    #resume_part .resume_pic img {
        width: 250px;
        padding-top: 40px;
        display: block;
        margin: 0 auto;
    }

    #team_part .team_widget {
        margin-bottom: 50px;
    }

    #team_part .team_widget .team_overlay {
        height: 74px;
    }

    #team_part .team_widget .team_overlay .team_text h4 {
        font-size: 15px;
    }

    #team_part .team_widget .team_overlay .team_text h5 {
        padding-bottom: 10px;
        font-size: 12px;
    }

    #testimonial_part .testimonial_overlay {
        padding: 100px 0 80px 0;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic {
        padding: 10px 0 30px 0;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .client_pic img {
        width: 50%;
        margin: 0 auto;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text {
        padding: 20px 15px 20px 20px;
        margin-bottom: 50px;
    }

    #testimonial_part .testimonial_overlay .testimonial_widget .testimonial_text::before {
        position: unset;
    }

    #testimonial_part .slick-dots {
        bottom: -47px;
    }

    #blog_part {
        padding: 94px 0 130px 0;
    }

    .rspr-15 {
        padding-right: 15px !important;
    }

    #blog_part .blog_widget .blog_text .btext_middle {
        padding-bottom: 40px;
    }

    #blog_part .blog_widget .blog_text .btext_middle p {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: justify;
    }

    #blog_part .blog_widget .blog_text .btext_middle h3 {
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
    }

    #blog_part .slick-dots {
        bottom: -60px;
    }

    #business_part .business_logo img {
        margin: 0 3px;
    }

    #business_part .slick-dots {
        width: 97%;
    }

    #business_part .slick-dots li button {
        width: 35px;
    }

    #newsletter_part .rspn_md {
        padding: 17px 0 !important;
    }

    .btm_ln {
        font-size: 18px !important;
    }

    #newsletter_part .newsletter_overlay form {
        display: inline-block;
    }

    #newsletter_part .newsletter_overlay form input {
        width: 268px;
    }

    #newsletter_part .newsletter_overlay form button {
        width: 50px;
        font-size: 18px;
        right: 0;
    }

    #footer_part {
        text-align: center;
    }

    .fwdt_blog_pic img {
        width: 100%;
    }

    #footer_part .footer_widget h4 {
        text-align: center;
        padding: 40px 0 40px 0;
    }

    #footer_part .footer_widget .contact {
        padding: 24px 0 20px 0;
    }

    #footer_part .footer_widget .contact a i {
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }

    #footer_part .footer_widget .ft_twit_widget a i {
        line-height: 58px;
    }

    #footer_part .footer_widget .fw_twit {
        padding-left: 15px !important;
    }

    .fwdt_blog_pic {
        padding-bottom: 10px !important;
    }

    .fwdt_blog_text {
        text-align: center;
    }

    #footer_part .footer_widget .fwdtblog_widget .fwdt_blog_text p {
        font-size: 12px;
        margin-bottom: 8px;
    }

    #footer_part .subfooter p {
        font-size: 14px;
    }

    #footer_part .footer_widget .fwdtblog_widget .fwdt_blog_text h6 {
        font-size: 12px;
    }

    #footer_part .subfooter .footer_icon {
        text-align: center;
    }

    #footer_part .subfooter .footer_icon a i {
        height: 30px;
        width: 30px;
        font-size: 13px;
        line-height: 31px;
        margin: 0;
    }
}
